body {
    background-image: url("wp9111687-cartoon-4k-desktop-wallpapers.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
  }
h1{
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
p{
    color: azure;
    font-family: cursive;
  }